{# system #}
{% include 'system/main.yaml' %}

{# system security #}
{% include 'system/security.yaml' %}

{# logs #}
{% include 'log/main.yaml' %}

{# cards #}
{% include 'cards/main.yaml' %}

{# isa configuration #}
