    system
        login-control
            ssh
                inbound-max-sessions 15
            exit
            telnet
                inbound-max-sessions 3
            exit
        exit
    exit