configure
{% include 'system/main.jinja2' %}

{% include 'system/security.jinja2' %}

{% include 'system/login-control.jinja2' %}

{% include 'log/main.jinja2' %}

{% include 'cards/main.jinja2' %}

exit all